body {
	padding: 0;
	margin: 0;
}

#content {
	margin: 30px;
}
.navbar {
	background-color: black;
	overflow: hidden;
}

.navbar a {
	float: left;
	color: lightskyblue;
	text-align: center;
	padding: 14px 16px;
	text-decoration: none;
	font-size: 17px;
}

.navbar a:hover {
	background-color: #ddd;
	color: black;
}

#img {
	width: 300px;
	height: 200px;
}

.formdiv {
	width: 75%;
}

form {
	width: 100%;
}

#home {
	border: 3px solid #fff;
	padding: 20px;
}
#users {
	width: 50%;
	float: left;
	padding: 20px;
	border: 2px solid red;
}
